
@{
    ViewBag.Title = "check_out_success";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h5 style="text-align:center; height:80px; margin-top:70px;">Cám ơn bạn đã đặt hàng. Đơn hàng của bạn sẽ được xử lí trong vòng 1-2 ngày!</h5>

