
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
    <section class="header_text sub">
        <h4 style="color: #fd4004;"><span>about us</span></h4>
    </section>
    <div class="stores">
        <h4>Địa chỉ các cửa hàng</h4>
        📍350 Điện Biên Phủ, Bình Thạnh <br>

        📍123 Nguyễn Trãi, Bến Thành, Quận 1, HCMC <br>

        📍44A Trần Quang Diệu, Quận 3, HCMC <br>

        📍26 Lý Tự Trọng, Quận 1, HCMC <br>

        📍TNP Lê Lai (đối diện 90 Lê Lai), Quận 1, HCMC <br>

        📍136 Nguyễn Hồng Đào, Tân Bình, HCMC <br>

        📍235 Phan Trung, Biên Hoà <br>

        📍Vincom Bà Triệu, Hà Nội <br>

        <strong> FOUNDED IN 2016 BY 3 YOUNG KIDS ON A MISSION TO MAKE THEIR VISION OF STREETWEAR COME TO LIFE. SINCE THEN STREETWEAREAZY HAS BECOME A LIFESTYLE BRAND FOR ALL TO WEAR. AND WE’RE ONLY GETTING STARTED!</strong>
    </div>

